/* **********************************************************************88 */
/* Hello */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu SA Beginner', cursive;
}
header{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    
}
.card{
    height: 350px;
    width: 350px;
    background-color: whitesmoke;
    border-style:solid;
    border-color: color(from color srgb r g b);
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    perspective: 100px; /*IDK why this perspective is needed! But it is!*/
}
.Deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#Logo{
    text-decoration: none;
    color: black;
}

/* Sanjana flip animation below */
.flip-card {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }
    
    /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
    
    /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display:flex;
    justify-content: center;
    align-items: center;

}
    
    /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color:lightskyblue;
    color: black;
 }
    
    /* Style the back side */
.flip-card-back {
    background-color:plum;
    color: black;
    transform: rotateY(180deg);
}
/* Sanjana flip animation above */

/* This is fotr color toggle animation! Remove below if not needed */
/*Just checking!*/
/* This is fotr color toggle animation! Remove above if not needed */
/*We use JS to hide the 13 other regions that were not selected!*/

#Geography>.card>.flip-card>.flip-card-inner>.flip-card-front{
    background-color: lightseagreen;
}

#Geography>.card>.flip-card>.flip-card-inner>.flip-card-back{
    background-color: darkseagreen;
}

#Physics>.card>.flip-card>.flip-card-inner>.flip-card-back{
    background-color: steelblue;
}

#Physics>.card>.flip-card>.flip-card-inner>.flip-card-front{
    background-color: #5e63b6;
}

#History>.card>.flip-card>.flip-card-inner>.flip-card-front{
    background-color: #ff895d;
}

#History>.card>.flip-card>.flip-card-inner>.flip-card-back{
    background-color: #f1b963;
}

#Arithmetic>.card>.flip-card>.flip-card-inner>.flip-card-front{
    background-color: #79c2d0;
}

#Arithmetic>.card>.flip-card>.flip-card-inner>.flip-card-back{
    background-color: #bbe4e9;
}

#Chemistry>.card>.flip-card>.flip-card-inner>.flip-card-back{
    background-color: #c3195d;
}

#Chemistry>.card>.flip-card>.flip-card-inner>.flip-card-front{
    background-color: #f76b8a;
}

#Algebra>.card>.flip-card>.flip-card-inner>.flip-card-front{
    background-color: #9896f1;
}

#Algebra>.card>.flip-card>.flip-card-inner>.flip-card-back{
    background-color: #edb1f1;
}

#Geometry>.card>.flip-card>.flip-card-inner>.flip-card-front{
    background-color: #0092ca;
}

#Geometry>.card>.flip-card>.flip-card-inner>.flip-card-back{
    background-color: #9cd3d3;
}